.button {
    background: none;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #d4c8b5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-wrap: normal;
    text-decoration: none;
    width: 25%;
}

.scrollchor{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    width: 100%;

}

.active_button {
    box-shadow: 0 3px 0px 0px #044443;
    /* border-bottom: solid 4px #044443; */
    /* background-color: #044443; */
    animation: ani 0.5s backwards ease-out;
}

/* .button:hover {
    cursor: pointer;
    animation: ani 1s forwards;
} */

.link{
    list-style-type: none;
    text-decoration: none;
    color: #d4c8b5;
}

@keyframes ani {
    0% {
        background: #346962;
        color: #d4c8b5;
    }
    50% {
        background-color: #044443;
        color: #d4c8b5;
    }
    100% {
        background: #346962;
        color: #d4c8b5;
    }
}

@media screen and (max-width: 1000px) {
    .button {
        font-size: 10px;
    }
}
@media screen and (max-width: 700px) {
    .button {
        height: 30px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
}
