.contacts {
    background-color: #d4c8b5;
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.contacts_buttons{
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    scale: 80%;

}
/* .contacts_title {
    margin: 0;
    font-size: 35px;
    color: #044443;
} */