.Riddle1-key {

    font-size: 45px;
}

.Riddle1-header {
    background-color: #282c34;
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Riddle1-link {
    color: #61dafb;
    width: 50px;
    height: 50px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border: #61dafb solid 1px;
    border-radius: 25px;
}
.Riddle1-link:hover{
  cursor: pointer;
}


@keyframes Riddle1-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}