.button {
    margin: 15px;
    padding: 10px;
    width: fit-content;
    /* outline: solid #1da1f2 1px; */
    /* border-radius: 25px; */
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    grid-area: supack;
    text-decoration: none;
    color: #d4c8b5;
    grid-area: button;
    box-sizing: content-box;
    max-height: 50px;
    justify-content: center;
    background-color: #044443;
    
}

.button:hover{
    opacity: 80%;
    cursor: pointer;
    transform: scale(0.95, 0.95);
    transition: all .2s;
    animation: shadow 1.6s infinite linear;
    background-color: #1da1f2;
    outline: none;
    font-weight: 300;

}

.button_active{
    background-color: #044443;
}

.h4 {
    font-size: 34px;
    font-weight: 600;
    line-height: 34px;
}

.text {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
}

@media screen and (max-width: 800px){
    .button {
        width: 100px;
        height: 60%;
        
    }
    .h4 {
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
    }
    
    .text {
        font-size: 16px;
        font-weight: 300;
        line-height: 16px;
    }
    
}

@media screen and (max-width: 550px) {
    .button {
        height: 50%
    }
}
