.Riddle5-key {
    position: absolute;
    top: 40%;
    font-size: 45px;
}

.Riddle5-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Riddle5-link {
    color: #61dafb;
    text-decoration: none;
}
.Riddle5-link:hover{
  cursor: pointer;
}

@keyframes Riddle5-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}