.button {
    margin: 0;
    width: 30px;
    height: 30px;
    /* outline: solid black 1px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: task;
    box-shadow: 0px 0px 12px -2px #a88d6b;
    text-decoration: none;
    color: #044443;
    background-color: #d4c49c;
    border-radius: 25px;
    /* background-color: rgba(168, 141, 107, 0.9); */
}

.button:hover {
    opacity: 80%;
    cursor: pointer;
    transform: scale(0.95, 0.95);
    transition: all 0.2s;
    animation: shadow 1.6s infinite linear;
    
    color: #044443;
    outline: none;
    font-weight: 300;
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 10px 0px #a88d6b, 0 0 10px 0px #a88d6b;
    }
    30% {
        box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0),
            0 0 4px 50px rgba(255, 48, 26, 0);
    }
}

.title {
    font-size: 34px;
    font-weight: 900;
    line-height: 34px;
}

.text {
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
}

@media screen and (max-width: 800px) {
    .button {
        /* width: 100px; */
    }
    .title {
        font-size: 25px;
        line-height: 20px;
        color: #c73020;
    }

    .text {
        font-size: 10px;
        font-weight: 300;
        line-height: 12px;
    }
}

@media screen and (max-width: 550px) {
    .button {
        
    }
}
