.navbar {
    margin: 0;
    padding: 0;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: sticky;
    background-color: #346962;
    color: aliceblue;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

