
.contaktLink {
    width: 30px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.contaktLink:hover {
    cursor: pointer;
    opacity: 80%;
    background: none;
    color: #2e8b57;
    animation: ani 0.5s forwards;
}
@keyframes ani {
    0% {
        color: black;
    }
    100% {
        color: #2e8b57;
    }
}
.contaktLinkIcon {
    padding: 0;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .contaktLinkIcon {
        width: 30px;
        /* margin: 0 3px 0 0; */
        height: 100%;
    }
}

@media screen and (max-width: 550px) {
    .contaktLink {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgb(226, 226, 226);
        padding: 3px;
        border-radius: 5px;
        /* margin: 5px; */
        /* flex: auto; */
    }
}
