* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.header {
    margin: 0;
    padding: 0;
    z-index: 9999999;
    position: sticky;
    background-color: #d4c8b5;
}

.borderBlock{
    display: flex;
    flex-direction: row;
    background: #346962;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
        border-radius: 0 0 15px 15px;
}

@media screen and (max-width: 800px) {
    .header {
        height: 100px;
    }
}
@media screen and (max-width: 550px) {
    .borderBlock {
        
        height: fit-content;
        display: grid;
        grid-template-columns: fit-content auto;
        grid-template-rows: 50px min-content;
        grid-template-areas: 
        " logo contacts task ";
        /* " contacts contacts"; */
    }
}
