.Riddle1-key {

    font-size: 45px;
}

.Riddle1-header {
    background-color: #282c34;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Riddle1-link {
    color: #61dafb;
    text-decoration: none;
}
.Riddle1-link:hover{
  cursor: pointer;
}

.Riddle1-info-block{
    height: 10vh;
    background-color: #282c34;
}
.Riddle1-info{
    margin: 0 5%;
    font-size: calc(8px + 2vmin);
    color: white;
    width: 90%;
    text-align: left;
}

.Riddle1-info:last-child{
    margin-top: 0;
}

@keyframes Riddle1-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}