.Riddle1-key {

    font-size: 45px;
}

.Riddle1-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Riddle1-link {
    color: #61dafb;
    text-decoration: none;
}
.Riddle1-link:hover{
  cursor: pointer;
}

.Riddle1-info{
    font-size: 10px;
}

@keyframes Riddle1-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}