.contacts{
    padding: 0;
    width: fit-content;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    grid-area: contacts;
    height: 100%;
    
    
}

@media screen and (max-width: 800px){
    .contacts {
        font-size: 10px;
        line-height: 14px;
    }
    
}

/* @media screen and (max-width: 550px) {
    .contacts {
        
    };
} */